@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);

  --font-sans: "Times New Roman", Times, Baskerville, Georgia, serif;
}

:root {
  --background: #FEF9EF;
  --surface: #FFFFFF;
  --foreground: #1D2D35;
  --muted: #5C6E78;
  --border: #EDE7DC;

  --primary: #227C9D;
  --primary-hover: #1C6580;
  --secondary: #FE6D73;
  --accent: #17C3B2;
  --success: #17C3B2;
  --warning: #FFCB77;
  --error: #FE6D73;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
